.bg-container {
  background-color: rgb(252, 252, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 30%; */
}
.card-container {
  background-color: rgb(4, 4, 24);
  padding: 12px 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  border-radius: 12px;
  width: 70%;
  min-width: 200px;
  margin: auto;
}
@media screen and (min-width: 762px) {
  .card-container {
    width: 50%;
  }
}
.namePic-container {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
}
.profile-pic {
  font-size: 20px;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  padding: 6px;
  margin-top: 25px;
  text-align: center;
  border-radius: 80px;
}
.user-name {
  font-size: 30px;
}
.balance-container {
  color: rgb(165, 199, 223);
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 500px) {
  .balance-container {
    justify-content: space-around;
  }
}
.balance-title {
  font-size: 20px;
  font-weight: 500;
}
.amount-total-reused {
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 4px;
}
.rupees {
  font-size: 14px;
}
.instruction {
  color: rgb(135, 138, 187);
}
.amount-items-container {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  gap: 12px;
  list-style-type: none;
}
